---
// Esta es una instrucción de importación que importa el componente Layout desde el archivo astro
import Layout from '../../layouts/Layout.astro';

// Esta es una instrucción de importación que importa el archivo normalize.css
import 'normalize.css';
    
// Esta es una instrucción de importación que importa el archivo inicio.css -->
import '../../../src/css/inicio/scrollStyle.css';
---

<Layout title="Videoclips y Reportes">
    <!-- Este es un elemento div con una barra de desplazamiento personalizada y algunos estilos -->
    <div class="custom-scrollbar overflow-y-auto max-w-7xl mx-auto w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    
        <!-- Este es un elemento div con algunos estilos y una imagen y un encabezado -->
        <div class="flex items-center mb-5">
            <div class="flex items-center">
                <img src="/public/Image/videoclipsyreportes/folder.png" alt="VVAI" class="h-20 w-auto"/>
                <h2 class="ml-4 mb-0 text-3xl font-bold text-gray-900 dark:text-white">Videoclips & reportes</h2>
            </div>
        </div>

        <div class="flex flex-wrap mb-5">
            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>

            <a href="#" class="mx-3 my-2">
                <img src="/public/Image/videoclipsyreportes/folder_iconDoc.png" class="h-14 w-auto" alt="imgFolder"/>
                <span>idUnico</span>
            </a>
            
        </div>
        
    </div>
</Layout>