---
import LayoutLogin from '../layouts/LayoutLogin/LayoutLogin.astro';
import 'normalize.css'
import { db, Usuarios } from 'astro:db';
---

<LayoutLogin title="Iniciar sesión">
	<div class="max-w-md mx-auto my-10 p-8 w-full bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
		<form class="space-y-6" action="#">
			<h5 class="text-xl font-medium text-gray-900 dark:text-white">Iniciar sesión</h5>
			<div>
				<label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre de usuario</label>
				<input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="aagarcia" required />
			</div>
			<div>
				<label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
				<input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
			</div>
			<div class="flex items-start">
				<div class="flex items-start">
					<div class="flex items-center h-5">
						<input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required />
					</div>
					<label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Recuérdame</label>
				</div>
				<a href="#" class="ms-auto text-sm text-blue-700 hover:underline dark:text-blue-500">Olvidaste tu contraseña?</a>
			</div>
			<button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Entrar</button>
			<div class="text-sm font-medium text-gray-500 dark:text-gray-300">
				No puedes ingresar? <a href="#" class="text-blue-700 hover:underline dark:text-blue-500">Soporte</a>
			</div>
		</form>
	</div>
</LayoutLogin>

