/* Scrollbar Track */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the entire scrollbar */
}

  /* Scrollbar Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4f4f4f; /* Color of the scrollbar handle */
    border-radius: 4px; /* Roundness of the scrollbar handle */
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #333; /* Color of the scrollbar handle on hover */
}

.custom-scrollbar{
    height: 38rem;
}