/* Estilo para la pista del scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Ancho de la pista del scrollbar */
}

/* Estilo para el mango del scrollbar */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4f4f4f; /* Color del mango del scrollbar */
    border-radius: 4px; /* Redondez del mango del scrollbar */
}

/* Estilo para el mango del scrollbar cuando se pasa el mouse sobre él */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #333; /* Color del mango del scrollbar cuando se pasa el mouse sobre él */
}

/* Estilo para el contenedor del scrollbar */
.custom-scrollbar{
    height: 38rem; /* Altura del contenedor del scrollbar */
}

span {

    color: white;

}