---

// Esta es una interfaz que define la forma del objeto de props
interface Props {
	// Esta es una propiedad que representa el título de la página
	title: string;
}

// Esta es una asignación de desestructuración que extrae la propiedad título del objeto de props
const { title } = Astro.props;

// Esta es una instrucción de importación que importa el componente Header desde el archivo especificado
import Header from '../../components/estructura/HeaderInicioSesion.astro';

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/public/Image/favicon/favicon.ico" type="image/x-icon">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-900">
		<!-- Este es un comentario que explica que se está utilizando el componente Header aquí -->
		<Header/>
		<main>
			<!-- Este es un comentario que explica que se está utilizando el componente slot aquí -->
			<slot />
		</main>
	</body>
</html>

---