---

---

<!-- Este es un encabezado que contiene un logotipo, enlaces de navegación y un enlace al perfil del usuario -->
<header class="bg-gray-900">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6" aria-label="Global">
        <!-- Este es el logotipo de la empresa -->
        <div class="flex ">
            <a href="/main/inicio" class="-m-1.5 p-1.5">
                <span class="sr-only">VVAI</span>
                <img src="/public/Image/logos/logoSinFondo.png" alt="VVAI" class="h-28 w-auto"/>
            </a>
        </div>
        <!-- Esta es la barra de navegación que contiene enlaces a diferentes secciones del sitio web -->
        <div class="flex gap-x-12">
            <!-- Este es el enlace a la página de inicio -->
            <a href="../../main/inicio" class="text-sm font-semibold leading-6 text-white">Inicio</a>
            <!-- Este es el enlace a la página de videoclips y reportes -->
            <a href="../../videoclipsyreportes/videoclipsyreportes" class="text-sm font-semibold leading-6 text-white">Videoclips & Reportes</a>
            <!-- Este es el enlace a la página de cámaras -->
            <a href="../../camaras/camaras" class="text-sm font-semibold leading-6 text-white">Camaras</a>
        </div>
        <!-- Este es el enlace al perfil del usuario -->
        <div class="">
            <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">Perfil</span>
                <img class="inline-block h-14 w-auto rounded-full ring-2 ring-white" src="/public/Image/test/foto.jpg" alt="">
            </a>
        </div>
    </nav>
</header>
